<p>
  <b>Home player:</b>
  <%=h @schedule.home_player_id %>
</p>

<p>
  <b>Away player:</b>
  <%=h @schedule.away_player_id %>
</p>


<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
