<p>
  <b>Path:</b>
  <%=h @tah.path %>
</p>

<p>
  <b>Tsos:</b>
  <ul>
  <%-for tso in @tah.tsos-%>
    <li><%=h tso.path %></li>
  <%-end-%>
  </ul>
</p>

<%-if logged_in? -%>
<%= link_to 'Edit', edit_tah_path(@tah) %> |
<%-end-%>
<%= link_to 'Back', tahs_path %>
