<h1>Listing players</h1>

<table>
  <tr>
    <th><%= _'Player|Nick' %></th>
  </tr>

<% for player in @players %>
  <tr>
    <td><%=h player.nick %></td>
    <td><%= link_to _('Show'), player %></td>
  </tr>
<% end %>
</table>
