<%= form_tag session_path -%>
  <p>
    Login:<br />
    <%= text_field_tag "login" %>
  </p>

  <p>
    Password:<br />
    <%= password_field_tag "password" %>
  </p>

  <p>
    <%= submit_tag "Login" %>
  </p>
</form>
