<h1>Bmps#show</h1>
<%= image_tag("/images/bmps/#{@bmp.id}.png", :width => 128, :height => 256) %>
<div>
  <%-if @bmp.character-%>
    <%= link_to "character", character_path(@bmp.character) %>
  <%-else-%>
    <%= button_to "Create character", characters_path(:bmp_id => @bmp.id) %>
  <%-end-%>
</div>
<div>
  <b>Tbns:</b><br />
  <ul>
  <%-for tbn in @bmp.tbns-%>
    <li><%=h tbn.name %></li>
  <%-end-%>
  </ul>
</div>
