<h1>Listing bmps</h1>

<table>
  <tr>
    <th>id</th>
  </tr>

<% for bmp in @bmps %>
  <tr>
    <td><%=h bmp.id %></td>
    <td><%= link_to _('Show'), bmp %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New bmp', new_bmp_path %>
