<h1>Listing users</h1>

<table>
  <tr>
    <th>Login</th>
  </tr>

<% for user in @users %>
  <tr>
    <td><%=h user.login %></td>
    <td><%= link_to _('Show'), user %></td>
  </tr>
<% end %>
</table>
